---
import Link from '~/components/base/Link.astro'
import { withBasePath } from '~/utils/path'
import { SITE } from '~/config'
---

<Link
  class="select-none op-transition"
  href={withBasePath('/')}
  aria-label={SITE.author}
  aria-current={Astro.url.pathname === `${withBasePath('/')}` ? 'page' : false}
>
  <div class="logo-container">
    <!-- ICON SVG -->
    <!-- Generator: https://text-to-svg.tool.tokyo/ -->
    <!-- Google font: Pacifico -->

    <svg
      width="76.855"
      height="69.755"
      viewBox="0 0 76.855 69.755"
      xmlns="http://www.w3.org/2000/svg"
      ><g
        id="svgGroup"
        class="dark:fill-[#fdfdfd]"
        fill="#17191e"
        fill-rule="evenodd"
        stroke-linecap="round"
        font-size="9pt"
        ><path
          d="M 0.051 39.75 L 0.101 35.75 Q 0.101 28.05 1.676 19.7 A 52.835 52.835 0 0 1 5.052 8.286 A 34.984 34.984 0 0 1 6.326 5.675 A 11.766 11.766 0 0 1 10.618 0.815 A 6.209 6.209 0 0 1 13.701 0 Q 16.001 0 17.426 1.975 Q 18.851 3.95 18.851 7.1 Q 18.851 12.15 15.901 17.575 A 50.858 50.858 0 0 1 11.093 24.661 A 101.169 101.169 0 0 1 6.301 30.25 Q 6.151 32.85 6.151 35.6 Q 7.801 31.35 9.826 28.675 Q 11.851 26 13.826 24.85 Q 15.801 23.7 17.451 23.7 Q 20.701 23.7 20.701 26.95 A 23.37 23.37 0 0 1 20.271 30.618 A 90.181 90.181 0 0 1 19.601 34 A 60.012 60.012 0 0 0 18.763 38.439 A 10.361 10.361 0 0 0 18.651 39.75 Q 18.651 41.75 20.101 41.75 Q 21.101 41.75 22.476 40.525 A 35.593 35.593 0 0 0 24.202 38.796 A 15.835 15.835 0 0 1 26.076 31.5 Q 27.951 27.95 31.076 25.775 Q 34.201 23.6 37.751 23.6 Q 38.951 23.6 39.601 24.4 Q 40.051 22.8 40.951 22.25 Q 41.851 21.7 43.451 21.7 Q 45.151 21.7 45.726 22.2 Q 46.301 22.7 46.251 23.65 A 11.297 11.297 0 0 1 45.772 25.906 A 53.54 53.54 0 0 1 45.626 26.425 Q 45.001 28.6 44.801 29.3 Q 44.001 32.1 43.076 35.5 Q 42.151 38.9 41.601 41.7 A 79.526 79.526 0 0 0 40.062 53.377 A 51.612 51.612 0 0 0 40.001 55.85 Q 40.001 58.15 40.376 59.775 Q 40.751 61.4 41.351 61.4 A 1.943 1.943 0 0 0 42.354 59.906 A 12.469 12.469 0 0 0 42.426 59.7 Q 43.001 58 43.401 55.15 Q 43.801 52.3 43.801 49.1 Q 43.801 45.3 43.451 42.35 Q 43.401 42.1 43.401 41.55 Q 43.401 39.9 44.226 38.8 Q 45.051 37.7 46.551 37.7 A 64.648 64.648 0 0 0 47.601 37.663 A 1356.734 1356.734 0 0 0 49.903 37.569 A 43.66 43.66 0 0 1 50.351 33.125 Q 50.851 30 52.001 26.5 Q 52.501 25 53.401 24.35 Q 54.301 23.7 56.251 23.7 Q 57.351 23.7 57.776 24.05 Q 58.201 24.4 58.201 25.1 Q 58.201 25.5 57.651 27.8 Q 57.151 29.65 56.851 31.15 Q 56.451 33.2 56.151 35.075 Q 55.851 36.95 55.851 38.15 Q 55.851 40.05 56.901 40.05 Q 57.651 40.05 58.776 38.55 A 20.944 20.944 0 0 0 61.017 34.376 A 45.593 45.593 0 0 0 61.176 34 Q 62.451 30.95 63.651 26.5 Q 64.051 25 64.876 24.35 Q 65.701 23.7 67.351 23.7 Q 68.501 23.7 68.951 24 Q 69.401 24.3 69.401 25 A 20.174 20.174 0 0 1 69.152 27.262 Q 68.912 28.915 68.441 31.654 A 426.424 426.424 0 0 1 68.101 33.6 L 66.801 41.65 Q 70.651 38.75 74.301 36.35 Q 74.951 35.95 75.451 35.95 Q 76.101 35.95 76.476 36.575 Q 76.851 37.2 76.851 38.15 Q 76.851 39.3 76.501 39.95 Q 76.151 40.6 75.401 41.1 L 65.801 47.55 A 79.907 79.907 0 0 1 63.291 57.794 A 40.104 40.104 0 0 1 60.826 63.825 A 11.488 11.488 0 0 1 56.263 68.952 A 6.903 6.903 0 0 1 53.001 69.75 Q 50.451 69.75 48.851 68.175 Q 47.251 66.6 47.251 64.05 Q 47.251 61.7 48.326 59.25 Q 49.401 56.8 52.326 53.625 A 55.864 55.864 0 0 1 58.003 48.403 A 105.938 105.938 0 0 1 60.601 46.35 L 60.751 45.2 A 89.952 89.952 0 0 0 61.44 40.738 A 205.752 205.752 0 0 0 61.551 39.9 Q 60.551 43.5 58.751 45.375 A 5.266 5.266 0 0 1 54.951 47.25 Q 52.701 47.25 51.276 45.175 A 8.931 8.931 0 0 1 50.282 43.086 L 48.951 43.05 Q 48.451 43 47.501 43 Q 47.701 45.85 47.701 48.7 A 41.149 41.149 0 0 1 46.134 60.602 A 29.036 29.036 0 0 1 45.726 61.85 A 8.823 8.823 0 0 1 42.335 66.695 A 5.255 5.255 0 0 1 39.551 67.45 Q 36.701 67.45 35.226 64.175 Q 33.751 60.9 33.751 56.2 Q 33.751 50.35 35.051 44.65 Q 33.351 47.25 30.601 47.25 Q 27.851 47.25 26.026 44.95 A 9.283 9.283 0 0 1 25.333 43.87 A 26.37 26.37 0 0 1 23.226 45.55 Q 20.801 47.25 17.701 47.25 Q 15.151 47.25 13.851 45.775 Q 12.551 44.3 12.551 41.5 Q 12.551 40.1 13.251 36.5 A 34.048 34.048 0 0 0 13.877 32.675 A 6.8 6.8 0 0 0 13.901 32.15 Q 13.901 31.35 13.351 31.35 A 3.017 3.017 0 0 0 11.649 32.823 A 14.869 14.869 0 0 0 11.501 33.025 Q 10.301 34.7 9.101 37.45 Q 7.901 40.2 7.151 43.25 Q 6.201 47.25 2.451 47.25 Q 0.951 47.25 0.476 46.175 A 9.224 9.224 0 0 1 0.008 42.973 A 29.336 29.336 0 0 1 0.001 42.3 Q 0.001 40.7 0.051 39.75 Z M 12.651 4.95 A 2.207 2.207 0 0 0 11.188 6.399 A 13.385 13.385 0 0 0 10.651 7.525 A 40.022 40.022 0 0 0 8.783 13.41 A 77.592 77.592 0 0 0 8.526 14.475 Q 7.501 18.85 6.851 24 Q 9.951 20.35 11.976 16.05 Q 14.001 11.75 14.001 8.25 Q 14.001 6.65 13.651 5.8 Q 13.301 4.95 12.651 4.95 Z M 36.301 37.35 L 38.451 28.25 Q 36.251 28.3 34.426 29.8 Q 32.601 31.3 31.526 33.775 Q 30.451 36.25 30.451 39 Q 30.451 40.55 31.026 41.375 Q 31.601 42.2 32.601 42.2 Q 33.751 42.2 34.801 40.775 Q 35.851 39.35 36.301 37.35 Z M 53.551 64.9 A 3.098 3.098 0 0 0 55.687 63.13 A 14.802 14.802 0 0 0 56.351 62 A 26.856 26.856 0 0 0 58.191 57.199 A 78.291 78.291 0 0 0 59.451 52.35 A 31.905 31.905 0 0 0 54.499 57.382 A 15.585 15.585 0 0 0 53.876 58.275 Q 52.151 60.95 52.151 62.95 Q 52.151 63.8 52.476 64.35 Q 52.801 64.9 53.551 64.9 Z"
        ></path></g
      ></svg
    >
  </div>
</Link>

<style>
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    transform: scale(1.05);
  }

  @media (max-width: 767.9px) {
    .logo-container {
      margin-top: 0.125rem;

      transform-origin: 0%;
      transform: scale(0.95);
    }
  }

  .logo-container svg {
    height: 2rem;
  }
</style>
